*target*
*.jar
*.war
*.ear
*.class
*.log 

# eclipse specific git ignore
.project
.metadata
**/bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath


# sbt specific
.cache-main
.cache-tests
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
